.name {
       text-align: center;
       font-family: 'FontName bold';
	   font-size: 80px;
       }
h2 {font-family: 'FontName bold';
    font-size: 50px;
    color: #FFD700}
@font-face {
	font-family: 'FontName bold';
	src: url(/static/fonts/ofont.ru_Banff.ttf);
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 35%;
  width: 30%;
  height: 40%;
}
.image2 {
  position: absolute;
  top: 62px;
  left: 40%;
  width: 20%;
  height: 70%;
}
p { word-wrap:break-word;
    font-family: 'FontName bold';
	font-size: 40px;}
table {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/static/img/html/bookcase.jpg);
}
.link {font-family: 'FontName bold';
	font-size: 30px;}