html { height: 100%; }
body { min-height: 100%; }
.img_author {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 2em;
    row-gap: 4em;
    margin-top: 60px;
}
p {font-size: 20px}