body{
background-image: url(/static/img/html/library.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
h1 {text-align: center;
    font-family: 'FontName bold';
	 font-size: 100px;
	 color: #7FFFD4
     }
@font-face {
	font-family: 'FontName bold';
	src: url(/static/fonts/ofont.ru_Banff.ttf);
}