h1 {text-align: center;
    font-family: 'FontName1';
	font-size: 60px;
	color: #7FFFD4
    }
h2 {text-align: center;
    font-family: 'FontName2';
	font-size: 20px;
    }
@font-face {
	font-family: 'FontName1';
	src: url(/static/fonts/ofont.ru_Banff.ttf)}
	src: url(/static/fonts/ofont.ru_Banff.ttf)}
@font-face {
	font-family: 'FontName2';
	src: url(/static/fonts/ofont.ru_Honday.ttf)}
.rating-result {
	width: 265px;
	margin: 0 auto;
}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-family: 'FontName';
  font-size: 30px;
  background: DarkSeaGreen;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: center;
}
th {
  font-weight: normal;
  color: #037;
  border-right: 2px solid #6678b1;
  border-left: 2px solid #6678b1;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: #669;
  padding: 9px 8px;
  border-right: 2px solid #6678b1;
  border-left: 2x solid #6678b1;
  transition: .3s linear;
}
tr:hover td {
  color: #6699ff;
