{% extends 'base.html' %}
{% block title%}add book{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/add_book.css">
<h1 class="main_text">Добавить книгу</h1>
<form action="" method="post" style="width: 60%; margin: auto; display: table">
    {{ form.hidden_tag() }}
    <p style="color: #E0FFFF">
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p style="color: #E0FFFF">
        {{ form.author.label }}<br>
        <select style="width: 500px; height: 40px">
            <option>Я</option>
            <option>Другое</option>
            {% for i in sp_authors %}
                <option>{{ i.name }} {{ i.surname }}</option>
            {% endfor %}
        </select>
        {% for error in form.author.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p style="color: #E0FFFF">
        {{ form.genre.label }}<br>
        {{ form.genre(class="form-control") }}<br>
        {% for error in form.genre.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p style="color: #E0FFFF">
        {{ form.summary.label }}<br>
        {{ form.summary(class="form-control") }}<br>
        {% for error in form.summary.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p style="color: #E0FFFF">
        {{ form.history_of_creation.label }}<br>
        {{ form.history_of_creation(class="form-control") }}<br>
        {% for error in form.history_of_creation.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p style="color: #E0FFFF">
        {{ form.link_to_the_book.label }}<br>
        {{ form.link_to_the_book(class="form-control") }}<br>
        {% for error in form.link_to_the_book.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p style="color: #E0FFFF">
        {{ form.link_to_the_production.label }}<br>
        {{ form.link_to_the_production(class="form-control") }}<br>
        {% for error in form.link_to_the_production.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p style="color: #E0FFFF">
        {{ form.link_to_audio.label }}<br>
        {{ form.link_to_audio(class="form-control") }}<br>
        {% for error in form.link_to_audio.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p style="color: #E0FFFF">
        {{ form.link_to_the_screenshot.label }}<br>
        {{ form.link_to_the_screenshot(class="form-control") }}<br>
        {% for error in form.link_to_the_screenshot.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}