{% extends 'base.html' %}
{% block title%}{{ book.name }}{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/book.css">
<center><h1 class="title">{{ book.name }}</h1></center>
<a href="/author/{{ author.id }}" class="author"><center><h1 class="author_name">{{ author.name }} {{ author.surname }}</h1></center></a>
<center><div class="rating-result">
	{% for i in range(1, 6) %}
	{% if stars >= i %}
	    <span class="active"></span>
	{% else %}
	    <span></span>
	{% endif %}
	{% endfor %}
</div></center>
<p class="text">Жанр: {{ book.genre }}</p>
<p class="text">Краткое содержание: {{ book.summary }}</p>
<p class="text">История создания: {{ book.history_of_creation }}</p>
<a href="{{ book.link_to_the_book }}">
    <p class="link">Ссылка на книгу</p>
</a>
<a href="{{ book.link_to_audio }}">
    <p class="link">Ссылка на аудиокнигу</p>
</a>
<a href="{{ book.link_to_the_production }}">
    <p class="link">Ссылка на постановку в театре</p>
</a>
<a href="{{ book.link_to_the_screenshot }}">
    <p class="link">Ссылка на фильм</p>
</a>
<form>
  <fieldset>
    <legend style="font-weight: bold">Выбери статус этой книги:</legend>
    <div style="font-size: 16px; font-weight: bold">
      <input class="status" type="radio" id="want_to_read" name="contact" value="want_to_read"/>
      <label for="want_to_read">Хочу прочитать</label>
      <input class="status" type="radio" id="reading_now" name="contact" value="reading_now"/>
      <label for="reading_now">Сейчас читаю</label>
      <input class="status" type="radio" id="were_read" name="contact" value="were_read"/>
      <label for="reading_now">Уже прочитано</label>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </fieldset>
</form>
<center><div class="rating-area">
	<input type="radio" id="star-5" name="rating" value="5">
	<label for="star-5" title="Оценка «5»"></label>
	<input type="radio" id="star-4" name="rating" value="4">
	<label for="star-4" title="Оценка «4»"></label>
	<input type="radio" id="star-3" name="rating" value="3">
	<label for="star-3" title="Оценка «3»"></label>
	<input type="radio" id="star-2" name="rating" value="2">
	<label for="star-2" title="Оценка «2»"></label>
	<input type="radio" id="star-1" name="rating" value="1">
	<label for="star-1" title="Оценка «1»"></label>
</div></center>
<label class="comment" for="msg">Комментарий:</label>
<textarea id="msg" name="user_message"></textarea>
<p><input type="button" value="Оставить отзыв"></p>
{% for key, val in sl_reviews.items() %}
<div class="col-md6 border rounded">
    <h2>{{key}}</h2>
    <div>
        {{val}}
    </div>
</div>
{% endfor %}
{% endblock %}