{% extends "base_first.html" %}
{% block content %}
    <center><h1>Добро пожаловать на сайт Hedcodbook!</h1></center>
    <p class="a">Это онлайн-место, где люди могут узнать все о книгах, а также оставить отзыв о любимом произведении, поставить ему оценку и рекомендовать его другим пользователям.</p>
    <p class="b">Здесь каждый может найти книгу по своим предпочтениям!</p>
    <p class="c">Также на нашем сайте вы можете поделиться своим творчеством, найти первых читателей и стать полноценным автором.</p>
    <p class="d">Присоединяйтесь к нашей большой семье книголюбов и путешествуйте в удивительную страну литературы вместе с нашими талисманами: ёжиком Торопыгой и енотом Кофием!</p>
{% endblock %}